# EDA_ Prediccion de ataque cardiaco

In [50]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [51]:
df_heart= pd.read_csv("./data/dataset_heart_attack.csv")

In [52]:
df_heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       8763 non-null   object
 1   Age                              8763 non-null   int64
 2   Sex                              8763 non-null   object
 3   Cholesterol                      8763 non-null   int64
 4   Blood Pressure                   8763 non-null   object
 5   Heart Rate                       8763 non-null   int64
 6   Diabetes                         8763 non-null   int64
 7   Family History                   8763 non-null   int64
 8   Smoking                          8763 non-null   int64
 9   Obesity                          8763 non-null   int64
 10  Alcohol Consumption              8763 non-null   int64
 11  Exercise Hours Per Week          8763 non-null   float64
 12  Diet                             8763 non-null   object
 13  Previous Heart Problems          8763 non-null   int64
 14  Medication Use                   8763 non-null   int64
 15  Stress Level                     8763 non-null   int64
 16  Sedentary Hours Per Day          8763 non-null   float64
 17  Income                           8761 non-null   float64
 18  BMI                              8759 non-null   float64
 19  Triglycerides                    8763 non-null   int64
 20  Physical Activity Days Per Week  8763 non-null   int64
 21  Education                        8763 non-null   object
 22  Sleep Hours Per Day              8763 non-null   int64
 23  Country                          8763 non-null   object
 24  Continent                        8763 non-null   object
 25  Hemisphere                       8759 non-null   object
 26  Heart Attack Risk                8763 non-null   int64
dtypes: float64(4), int64(15), object(8)
memory usage: 1.8+ MB

In [53]:
df_heart.dropna(inplace=True)
df_heart.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8755 entries, 0 to 8762
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       8755 non-null   object
 1   Age                              8755 non-null   int64
 2   Sex                              8755 non-null   object
 3   Cholesterol                      8755 non-null   int64
 4   Blood Pressure                   8755 non-null   object
 5   Heart Rate                       8755 non-null   int64
 6   Diabetes                         8755 non-null   int64
 7   Family History                   8755 non-null   int64
 8   Smoking                          8755 non-null   int64
 9   Obesity                          8755 non-null   int64
 10  Alcohol Consumption              8755 non-null   int64
 11  Exercise Hours Per Week          8755 non-null   float64
 12  Diet                             8755 non-null   object
 13  Previous Heart Problems          8755 non-null   int64
 14  Medication Use                   8755 non-null   int64
 15  Stress Level                     8755 non-null   int64
 16  Sedentary Hours Per Day          8755 non-null   float64
 17  Income                           8755 non-null   float64
 18  BMI                              8755 non-null   float64
 19  Triglycerides                    8755 non-null   int64
 20  Physical Activity Days Per Week  8755 non-null   int64
 21  Education                        8755 non-null   object
 22  Sleep Hours Per Day              8755 non-null   int64
 23  Country                          8755 non-null   object
 24  Continent                        8755 non-null   object
 25  Hemisphere                       8755 non-null   object
 26  Heart Attack Risk                8755 non-null   int64
dtypes: float64(4), int64(15), object(8)
memory usage: 1.9+ MB

In [54]:
print(df_heart.isnull().sum())

Patient ID                         0
Age                                0
Sex                                0
Cholesterol                        0
Blood Pressure                     0
Heart Rate                         0
Diabetes                           0
Family History                     0
Smoking                            0
Obesity                            0
Alcohol Consumption                0
Exercise Hours Per Week            0
Diet                               0
Previous Heart Problems            0
Medication Use                     0
Stress Level                       0
Sedentary Hours Per Day            0
Income                             0
BMI                                0
Triglycerides                      0
Physical Activity Days Per Week    0
Education                          0
Sleep Hours Per Day                0
Country                            0
Continent                          0
Hemisphere                         0
Heart Attack Risk                  0
dtype: int64

In [55]:
df_heart.describe()

,Age,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Heart Attack Risk
count,8755.000000,8755.000000,8755.000000,8755.000000,8755.000000,8755.000000,8755.000000,8755.000000,8755.000000,8755.000000,8755.000000,8755.000000,8755.000000,8755.000000,8755.000000,8755.000000,8755.000000,8755.000000,8755.000000
mean,53.710109,259.907938,75.019760,0.652313,0.492975,0.896973,0.501314,0.598058,10.013977,0.495717,0.498344,5.467961,5.991706,158260.555797,28.892375,417.719475,3.490120,7.023301,0.358310
std,21.249780,80.827869,20.552066,0.476263,0.499979,0.304011,0.500027,0.490318,5.783809,0.500010,0.500026,2.859072,3.466438,80574.380529,6.319555,223.704091,2.282932,1.988292,0.479531
min,18.000000,120.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002442,0.000000,0.000000,1.000000,0.001263,20062.000000,18.002337,30.000000,0.000000,4.000000,0.000000
25%,35.000000,192.000000,57.000000,0.000000,0.000000,1.000000,0.000000,0.000000,4.979900,0.000000,0.000000,3.000000,2.995074,88310.000000,23.422985,226.000000,2.000000,5.000000,0.000000
50%,54.000000,259.000000,75.000000,1.000000,0.000000,1.000000,1.000000,1.000000,10.069559,0.000000,0.000000,5.000000,5.921229,157866.000000,28.769656,417.000000,3.000000,7.000000,0.000000
75%,72.000000,330.000000,93.000000,1.000000,1.000000,1.000000,1.000000,1.000000,15.050018,1.000000,1.000000,8.000000,9.018324,227786.500000,34.324594,612.000000,5.000000,9.000000,1.000000
max,90.000000,400.000000,110.000000,1.000000,1.000000,1.000000,1.000000,1.000000,19.998709,1.000000,1.000000,10.000000,11.999313,299954.000000,39.997211,800.000000,7.000000,10.000000,1.000000

In [56]:
print(f"Number of duplicate rows: {df_heart.duplicated().sum()}")

Number of duplicate rows: 0

In [57]:
df_heart.columns

Index(['Patient ID', 'Age', 'Sex', 'Cholesterol', 'Blood Pressure',
       'Heart Rate', 'Diabetes', 'Family History', 'Smoking', 'Obesity',
       'Alcohol Consumption', 'Exercise Hours Per Week', 'Diet',
       'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Sedentary Hours Per Day', 'Income', 'BMI', 'Triglycerides',
       'Physical Activity Days Per Week', 'Education', 'Sleep Hours Per Day',
       'Country', 'Continent', 'Hemisphere', 'Heart Attack Risk'],
      dtype='object')

In [58]:
df_heart.head(5)

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Income,BMI,Triglycerides,Physical Activity Days Per Week,Education,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,261404.0,31.251233,286,0,Engineering,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,285768.0,27.194973,235,1,Engineering,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,235282.0,28.176571,587,4,Engineering,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,125640.0,36.464704,378,3,Other,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,160555.0,21.809144,231,1,Education,5,Thailand,Asia,Northern Hemisphere,0

In [59]:
df_heart.drop(columns="Hemisphere",inplace=True)
df_heart.columns

Index(['Patient ID', 'Age', 'Sex', 'Cholesterol', 'Blood Pressure',
       'Heart Rate', 'Diabetes', 'Family History', 'Smoking', 'Obesity',
       'Alcohol Consumption', 'Exercise Hours Per Week', 'Diet',
       'Previous Heart Problems', 'Medication Use', 'Stress Level',
       'Sedentary Hours Per Day', 'Income', 'BMI', 'Triglycerides',
       'Physical Activity Days Per Week', 'Education', 'Sleep Hours Per Day',
       'Country', 'Continent', 'Heart Attack Risk'],
      dtype='object')